body {
  color: white;
}

.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/143/original/Slay_the_Spire_defect.0.jpg?1713122496");
  background-size: cover;
  padding: 20px;
  max-width: 600px;
  min-width: 500px;
  margin: 45px auto;
}

ul {
  list-style: none;
  padding-left: 5px;
}

li {
  display: inline-block;
  margin: 5px 5px 5px 0;
  border-radius: 10px;
}

.block-list {
  background: black;
  max-width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.hp-list {
  background: black;
  max-width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.energy-points {
  background: black;
  max-width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.block-list {
  background: black;
  max-width: 440px;
}

.hp-list {
  background: black;
  max-width: 395px;
}

button {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 33px;
  text-align: center;
  padding-top: 9px;
  text-decoration: none;
  background-color: rgb(11, 179, 11);
  color: white;
  border: none;
  cursor: pointer;
}

.energy-points button {
  background-color: rgb(11, 179, 11);
  margin: 5px;
}

.block-list button {
  background-color: rgb(56, 117, 183);
}

.hp-list button {
  background-color: rgb(159, 30, 30);
}
