body {
  color: white;
}

.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/143/original/Slay_the_Spire_defect.0.jpg?1713122496");
  background-size: cover;
  padding: 20px;
  max-width: 600px;
  min-width: 500px;
  margin: 45px auto;
}

.energy-points {
  background: black;
  max-width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.block-list {
  background: black;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  max-width: 440px;
}

.hp-list {
  background: black;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  max-width: 395px;
}

button {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 33px;
  padding-top: 9px;
  text-decoration: none;
  background-color: rgb(6, 111, 6);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px;
}

.block-list button {
  background-color: rgb(15, 94, 179);
}

.hp-list button {
  background-color: rgb(159, 30, 30);
}
